body {
  background-color: #191940;
  background-image: url('circuits.gif');
  color: #e0ffff;
  font-size: 12px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

textarea {
  background-color: #191940;
  background-image: url('circuits.gif');
  color: #e0ffff;
  font-size: 12px;
  font-family: Courier;
  width: 1000px;
  height: 300px;
  border-width: 1px;
  border-color: blue;
  border-style: solid;
}

a:link.p2k {
  color: #f4a460;
  text-decoration: none;
}

a:visited.p2k {
  color: #ee82ee;
  text-decoration: none;
}

p.aq {
  font-size: 28px;
  font-family: Courier New, monospace;
  font-weight: bold;
  color: 00ffff;
}

p.bo {
  text-align: justify;
}

p.tl {
  font-weight: bold;
  font-size: small;
  color: 00ffff;
}

font.p2k {
  font-weight: bold;
  font-size: 16px;
  color: #ffff00;
}

table.p2k {
  width: 100%;
}

table.p2k, table.p3k {
  border-width: 4px;
  border-color: blue;
  border-style: outset;
  border-collapse: collapse;
}

td.p2k, td.rg, td.md, td.gr, td.ug, th.p2k, th.pl {
  vertical-align: top;
  border-width: 1px;
  border-color: blue;
  border-style: solid;
  padding: 5px;
}

td.ga, td.gc, td.gh {
  vertical-align: middle;
  border-width: 1px;
  border-color: blue;
  border-style: solid;
  padding: 5px;
  font-size: 18px;
}

td.ga {
  text-align: left;
}

td.gc {
  font-weight: bold;
  color: #ffff00;
}

td.gh, td.gc {
  text-align: center;
}

th.p2k {
  font-size: 18px;
  color: #ffff00;
}

th.pl {
  font-size: 18px;
  color: #ffff00;
}

td.rg {
  text-align: right;
}

td.md {
  text-align: center;
}

td.gr {
  color: #00ff00;
}

td.ug {
  color: #dc143c;
}

td.sm {
  font-size: 12px;
  padding-right: 10px;
}

span.ug {
  color: #dc143c;
}

span.er {
  font-weight: bold;
}

input, button, select {
  background-color: #cee3f7;
  border-bottom: 1px;
  border-left: 1px;
  border-right: 1px;
  border-top: 1px;
  color: #000000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: 1px solid;
}

input, button {
  text-align: center;
}

select {
  width: 220px;
}

input.dte {
  width: 100px;
}

input.btm {
  width: 200px;
}

div#overDiv {
  position: absolute;
  visibility: hidden;
  z-index: 1000;
}

div.inv {
  display: none;
}