<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <description>
      CMS DQM Run Workflow application.
    </description>

    <display-name>CMS DQM Run Workflow</display-name>

    <!-- Environment parameters below -->

    <env-entry>
      <env-entry-name>db_name</env-entry-name>
      <env-entry-type>java.lang.String</env-entry-type>
      <env-entry-value>jdbc/@DB_NAME@</env-entry-value>
    </env-entry>

    <env-entry>
      <env-entry-name>writeToDBS</env-entry-name>
      <env-entry-type>java.lang.String</env-entry-type>
      <env-entry-value>1</env-entry-value>
    </env-entry>

    <env-entry>
      <env-entry-name>db_auth</env-entry-name>
      <env-entry-type>java.lang.String</env-entry-type>
      <env-entry-value>@AUTH@</env-entry-value>
    </env-entry>

    <env-entry>
      <env-entry-name>dbs_url</env-entry-name>
      <env-entry-type>java.lang.String</env-entry-type>
      <env-entry-value>@DBS_DQM_URL@</env-entry-value>
    </env-entry>

    <env-entry>
      <env-entry-name>js_dir</env-entry-name>
      <env-entry-type>java.lang.String</env-entry-type>
      <env-entry-value>@TOMCAT_PATH@/webapps/@DQM_URL@/media/</env-entry-value>
    </env-entry>

    <env-entry>
      <env-entry-name>templates_dir</env-entry-name>
      <env-entry-type>java.lang.String</env-entry-type>
      <env-entry-value>@TOMCAT_PATH@/webapps/@DQM_URL@/templates/</env-entry-value>
    </env-entry>

    <env-entry>
      <env-entry-name>templates_url</env-entry-name>
      <env-entry-type>java.lang.String</env-entry-type>
      <env-entry-value>templates/</env-entry-value>
    </env-entry>

    <!-- Servlets go below -->

    <servlet>
      <servlet-name>XmlRpcServlet</servlet-name>
      <servlet-class>org.apache.xmlrpc.webserver.XmlRpcServlet</servlet-class>
      <init-param>
        <param-name>enabledForExtensions</param-name>
        <param-value>true</param-value>
        <description>Sets, whether the servlet supports vendor extensions for XML-RPC.</description>
      </init-param>
    </servlet>

    <servlet>
      <servlet-name>RunRegisterData</servlet-name>
      <servlet-class>cms.dqm.workflow.DataProvider</servlet-class>
      <init-param>
        <param-name>format</param-name>
        <param-value>json</param-value>
      </init-param>
      <init-param>
        <param-name>query</param-name>
        <param-value>select * from rr_run_data</param-value>
      </init-param>
      <init-param>
        <param-name>default_sort_name</param-name>
        <param-value>RUN_NUMBER</param-value>
      </init-param>
      <init-param>
        <param-name>default_sort_dir</param-name>
        <param-value>desc</param-value>
      </init-param>
    </servlet>

    <servlet>
      <servlet-name>RunInfoData</servlet-name>
      <servlet-class>cms.dqm.workflow.DataProvider</servlet-class>
      <init-param>
        <param-name>format</param-name>
        <param-value>json</param-value>
      </init-param>
      <init-param>
        <param-name>query</param-name>
        <param-value>select * from ri_run_data</param-value>
      </init-param>
      <init-param>
        <param-name>default_sort_name</param-name>
        <param-value>RUN_NUMBER</param-value>
      </init-param>
      <init-param>
        <param-name>default_sort_dir</param-name>
        <param-value>desc</param-value>
      </init-param>
    </servlet>

    <servlet>
      <servlet-name>RunVersionData</servlet-name>
      <servlet-class>cms.dqm.workflow.DataProvider</servlet-class>
      <init-param>
        <param-name>format</param-name>
        <param-value>xml</param-value>
      </init-param>
      <init-param>
        <param-name>query</param-name>
        <param-value>select * from rr_run_data_prev</param-value>
      </init-param>
      <init-param>
        <param-name>default_sort_name</param-name>
        <param-value>RUN_ID</param-value>
      </init-param>
      <init-param>
        <param-name>default_sort_dir</param-name>
        <param-value>desc</param-value>
      </init-param>
    </servlet>

    <servlet>
      <servlet-name>RunEditData</servlet-name>
      <servlet-class>cms.dqm.workflow.DataProvider</servlet-class>
      <init-param>
        <param-name>format</param-name>
        <param-value>xml</param-value>
      </init-param>
      <init-param>
        <param-name>query</param-name>
        <param-value>select * from rr_run_data_edit</param-value>
      </init-param>
    </servlet>

    <servlet>
      <servlet-name>RunChartData</servlet-name>
      <servlet-class>cms.dqm.workflow.DataProvider</servlet-class>
      <init-param>
        <param-name>format</param-name>
        <param-value>xml</param-value>
      </init-param>
      <init-param>
        <param-name>query</param-name>
        <param-value>select * from rr_run_data</param-value>
      </init-param>
      <init-param>
        <param-name>default_sort_name</param-name>
        <param-value>RUN_ID</param-value>
      </init-param>
      <init-param>
        <param-name>default_sort_dir</param-name>
        <param-value>desc</param-value>
      </init-param>
    </servlet>

    <servlet>
      <servlet-name>EditProvider</servlet-name>
      <servlet-class>cms.dqm.workflow.EditProvider</servlet-class>
    </servlet>

    <servlet>
      <servlet-name>BatchEditProvider</servlet-name>
      <servlet-class>cms.dqm.workflow.BatchEditProvider</servlet-class>
    </servlet>

    <servlet>
      <servlet-name>MessageBoard</servlet-name>
      <servlet-class>cms.dqm.workflow.MessageBoard</servlet-class>
    </servlet>

    <!--servlet>
      <servlet-name>QuartzInitializer</servlet-name>
      <display-name>Quartz Initializer Servlet</display-name>
      <servlet-class>org.quartz.ee.servlet.QuartzInitializerServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
      <init-param>
        <param-name>config-file</param-name>
        <param-value>@TOMCAT_PATH@/webapps/@DQM_URL@/WEB-INF/quartz.properties</param-value>
      </init-param>
      <init-param>
        <param-name>shutdown-on-unload</param-name>
        <param-value>true</param-value>
      </init-param>
      <init-param>
        <param-name>start-scheduler-on-load</param-name>
        <param-value>true</param-value>
      </init-param>
    </servlet-->

    <servlet-mapping>
      <servlet-name>XmlRpcServlet</servlet-name>
      <url-pattern>/xmlrpc</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
      <servlet-name>BatchEditProvider</servlet-name>
      <url-pattern>/beditprovider</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
      <servlet-name>EditProvider</servlet-name>
      <url-pattern>/editprovider</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RunRegisterData</servlet-name>
        <url-pattern>/runregisterdata</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RunInfoData</servlet-name>
        <url-pattern>/runinfodata</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RunVersionData</servlet-name>
        <url-pattern>/runversiondata</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RunEditData</servlet-name>
        <url-pattern>/runeditdata</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RunChartData</servlet-name>
        <url-pattern>/runchartdata</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MessageBoard</servlet-name>
        <url-pattern>/messageboard</url-pattern>
    </servlet-mapping>

    <session-config>
      <session-timeout>240</session-timeout> 
    </session-config>

</web-app>
