process PGroupId = {

  #empty source
  source = EmptySource {untracked int32 maxEvents = 1}
  
  #calling EcalGroupIdBuilder Module
  module builder = EcalGroupIdBuilder {
    untracked uint32 verbosity   = 2

    #Prints out the individual weights files: ampWeights.txt, pedWeights.txt etc..
    untracked bool debug         = true

    #INPUT FILE: this file contain the timing of all SuperModule channels as 
    # measured with the laser system.
    untracked string inputFile   = "SM22.txt"

    #NUMBER OF GROUP IDs 
    # number of group Ids that has to be created and with which granularity in ns
    untracked uint32 nGroups     = 3
    untracked double granularity = 1.0

    #SPECIFY WHICH SUPERMODULE
    untracked uint32 SuperModule = 22

    #OUTPUT ROOT FILE
    untracked string rootFile    = "GroupId.root"
  }# module builder

  path p = { builder }
}
