process PGroupId = {

  #empty source
  source = EmptySource {untracked int32 maxEvents = 1}
  
  #calling EcalGroupIdBuilder Module
  module builder = EcalGroupIdBuilder {
    untracked uint32 verbosity   = 2

    #Prints out report
    untracked bool debug         = true

    #Generate default groupid file. All the crystals
    #are assigned to the same groupid, only the supermodule number
    #needs to be specified.
    untracked bool default       = false

    #DATA BASE HEADER INFO:
    #Standard or Special groupid file:
    #- standard: when all the channels are assigned to a group id number
    #            according to their timing.
    #- special: For specific crystals, special weights are produced and 
    #           particular group ids are chosen for them: 10XXXX where XXXX 
    #           is the crystal number
    #untracked string grouptype   = "special" #modif!!!
    untracked string grouptype   = "standard" 

    #This group id file corresponds to a weights file for laser or electron
    #data reconstruction. 
    untracked string datatype    = "electron"
    #File version number
    untracked string version     = "V0"

    #INPUT FILE: this file contain the timing of all SuperModule channels as 
    # measured with the laser system.
    untracked string inputFile   = "SM24_V0.txt"

    #NUMBER OF GROUP IDs 
    # number of group Ids that has to be created and with which granularity in ns
    untracked uint32 nGroups     = 3
    untracked double granularity = 1.0

    #SPECIFY WHICH SUPERMODULE
    untracked uint32 SuperModule = 24

    #OUTPUT ROOT FILE
    untracked string rootFile    = "GroupId.root"
  }# module builder

  path p = { builder }
}
