process ProcessOne = {
  source = DAQEcalTBInputService{
    #untracked   vstring fileNames = {'/tmp/azabi/H4-000015608-SM5-LASER-STD'}
     untracked   vstring fileNames = {'/u1/rahatlou/data/h4/H4-000018083-SM5-LASER-STD'}
    untracked int32 maxEvents = 100
    #untracked bool isBinary = true
  }

  module ecalEBunpacker = EcalDCCUnpackingModule{ }

  module builder = EcalWeightsBuilder {
    untracked uint32 verbosity = 1
  }

  path p = { ecalEBunpacker, builder }
}
