process PProfile = {

  # initialize  MessageLogger
  include "FWCore/MessageLogger/data/MessageLogger.cfi"

  #source file 2006 (Pool).
  source = PoolSource {
    #untracked vstring fileNames  = {'file:/tmp/azabi/h4b.00012225.A.0.0.root'}
    #untracked vstring fileNames  = {'file:/tmp/azabi/h4b.00012401.A.0.0.root'}
    untracked vstring fileNames  = {'file:/tmp/azabi/h4b.000rrrrr.A.0.0.root'}
    #untracked vstring fileNames   = {'rfio:/castor/cern.ch/cms/archive/ecal/h4tb.pool-SM22/h4b.000rrrrr.A.0.0.root'}
    untracked int32 maxEvents = 2000
    untracked bool isBinary = true
  }

  #UNPACKER:
  #To run on 2006 pool files	
  include "EventFilter/EcalTBRawToDigi/data/ecalTBunpack.cfi" 

  # TDC Reconstruction
  include "RecoTBCalo/EcalTBTDCReconstructor/data/ecal2006TBTDCReconstructor.cfi"

  # HODO Reconstruction
  include "RecoTBCalo/EcalTBHodoscopeReconstructor/data/ecal2006TBHodoscopeReconstructor.cfi"

  #calling EcalProfileBuilder Module
  module builder = EcalProfileBuilder {
    untracked uint32 verbosity    = 2
	
    #Which digis producer
    untracked string digiProducer = "ecalTBunpack"

    #Getting TDC info 	
    untracked string tdcRecInfoProducer     = "ecal2006TBTDCReconstructor"
    untracked string tdcRecInfoCollection   = "EcalTBTDCRecInfo"
    
    #Getting Hodoscope Info
    untracked string hodoRecInfoProducer    = "ecal2006TBHodoscopeReconstructor"
    untracked string hodoRecInfoCollection  = "EcalTBHodoscopeRecInfo"
    
    #Getting Event Header
    untracked string eventHeaderProducer    = "ecalTBunpack"
    untracked string eventHeaderCollection  = ""

    #Print out
    untracked bool debug          = true

    #OUTPUT 	
    untracked string Shapefile    = "profile_rrrrr.txt"
    #untracked string Shapefile    = "/afs/cern.ch/user/a/azabi/public/ForJean/profile_rrrrr.txt"

    #SPECIFY WHICH SUPERMODULE
    untracked uint32 SuperModule  = 22

    #SPECIFY WHICH XTAL AND SCAN MODE
    #Only building profile for the crystal selected.
    # configurations:
    # -scanmode = true -> building crystals for all crystals in beam
    # -scanmode = false and xtalchosen != -1 -> building crystals for
    # the chosen crystal.
    untracked int32 xtalchosen    = 174
    untracked bool  scanmode      = false

    #MINIMUM ENTRY
    #Minimum number of entries per crystals
    untracked int32 nentry        = 10

    #HODO WINDOW
    # window considered for the definition of central event around 
    # maximum containment point in mm.
    untracked double HodoWindow   = 4.5
    untracked int32  run_number   = rrrrr	

    #NUMBER of ITERATIONS
    #When building profiles
    untracked int32 nIter         = 1  	

  }# module builder

  path p = { ecalTBunpack, ecal2006TBTDCReconstructor, ecal2006TBHodoscopeReconstructor, builder }
}
