process PProfile = {

  #source file 2006.
  source = DAQEcalTBInputService{
    #untracked vstring fileNames  = {'file:/tmp/azabi/H4B-000011192-SM22-LASER-STD'}
    untracked vstring fileNames  = {'file:/tmp/azabi/H4B-000011408-SM22-PEDESTAL-STD'}
    untracked int32 maxEvents    = 1
  }
  
  #UNPACKER:
  module ecalEBunpacker = EcalDCCUnpackingModule{ }
  
  #calling EcalProfileBuilder Module
  module builder = EcalProfileBuilder {
    untracked uint32 verbosity    = 2
	
    #Which digis producer
    untracked string digiProducer = "ecalEBunpacker"

    #Print out
    untracked bool debug          = true

    #SPECIFY WHICH SUPERMODULE
    untracked uint32 SuperModule  = 22

  }# module builder

  path p = { ecalEBunpacker, builder }
}
