process PProfile = {

 #######################################################################################
 # input
   source = Ecal2004TBSource {
                untracked vstring fileNames  = { 'file:/tmp/azabi/ecs73276'}
                untracked int32 maxEvents = 1
        }
 #######################################################################################

  #calling EcalProfileBuilder Module
  module builder = EcalProfileBuilder {
    untracked uint32 verbosity    = 2
	
    #Which digis producer
    untracked string digiProducer = "source"

    #Print out
    untracked bool debug          = true

    #SPECIFY WHICH SUPERMODULE
    untracked uint32 SuperModule  = 22

  }# module builder

  path p = { builder }
}
