[CRAB]
jobtype = cmssw
scheduler = lsf
#use_server = 1
#server_name= cern

[LSF]
queue=8nh

[CMSSW]
#datasetpath = /Photon/Run2010B-Nov4ReReco_v1/RECO	
datasetpath = none

### The ParameterSet you want to use
#pset= config_GOODCOLL_cfg.py
pset=MYCFGFILE

#lumi_mask=dump-golden+paolo.txt
#lumi_mask=

### Total number of events to be accessed: -1 means all ("-1" is not usable if no input)
#total_number_of_events = -1
#total_number_of_lumis = -1

### Number of events to be processed per job
events_per_job = -1
#lumis_per_job = 20
#lumis_per_job = 20

### Number of jobs
number_of_jobs = 1

#runselection=139376-139459
#pycfg_params = diPhotonSkim=0

### The output files produced by your application (comma separated list)
output_file = MYOUTFILE

[USER]
### RETRIEVE JOB OUTPUT INTO UI ###
## to have back the job executable output into UI (return_data= 1)
ui_working_dir=MYWORKINGDIR
return_data = 0


### COPY JOB OUTPUT INTO A SE ###
## if you want to copy the CMS executable output into a SE (i:e castor)
### WARNING: if the copy fails and return_data = 0, the output is lost
copy_data = 1

## rome
#storage_element=T2_CH_CAF
#storage_element=T3_CH_PSI
#storage_element
#storage_path=srm/managerv2?SFN=/pnfs/psi.ch/cms/trivcat/store/user/meridian
## it will end up in /pnfs/roma1.infn.it/data/cms/store/user/rahatlou/
#user_remote_dir=data/42xv3

storage_element=srm-cms.cern.ch
user_remote_dir= /cms/store/user/meridian/MC/42xv3/MYOUTDIR
storage_path=/srm/managerv2?SFN=/castor/cern.ch



