[CMSSW]
total_number_of_events=-1
number_of_jobs=500
pset=skim_cfg.py
datasetpath=/QCD_BCtoMu_Pt30to50/Summer08_IDEAL_V11_redigi_v1/AODSIM
output_file=ppMuXSkim.root

[USER]
return_data=0
email=evan.klose.friis@cern.ch

copy_data = 1
storage_element = T2_US_Caltech
#storage_element = T3_US_UCD

publish_data = 1
publish_data_name = TauFakeRateSkim
dbs_url_for_publication = https://cmsdbsprod.cern.ch:8443/cms_dbs_caf_analysis_01_writer/servlet/DBSServlet
publish_with_import_all_parents=0

[CRAB]
scheduler=glite
jobtype=cmssw
server_name = legnaro

[GRID]
se_black_list=T2_ES_CIEMAT,T2_US_UCSD

