process Rec = 
{
    untracked PSet maxEvents = {untracked int32 input =5000}
    # this example configuration offers some minimum 
    # annotation, to help users get through; please
    # don't hesitate to read through the comments
    
    
    # use MessageLogger to redirect/suppress multiple
    # service messages coming from the system
    #
    # in this config below, we use the replace option to make
    # the logger let out messages of severity ERROR (INFO level
    # will be suppressed), and we want to limit the number to 10
    #
    include "Configuration/ReleaseValidation/data/Services.cff"
    include "Configuration/StandardSequences/data/FakeConditions.cff" 
    include "FWCore/MessageService/data/MessageLogger.cfi"
    
    # in you wish to quiet the logger even more and leave in 
    # only info from the Framework, use config example below :
    #
    #service = MessageLogger
    #{
    #   untracked vstring destinations = {"cout"} 
    #   untracked vstring categories = { "FwkJob" } 
    #   untracked PSet cout =
    #   {
    #      untracked PSet default = { untracked int32 limit = 0 }  # kill all messages in the log
    #      untracked PSet FwkJob  = { untracked int32 limit = -1 } # but FwkJob category - those unlimitted
    #   } 
    #}
    
  
    
 # an example of "source", read a Hepmc formet text file
    #
   source = PoolSource 
  #  source = MCFileSource
    {
     # The HepMC text File
     #untracked vstring fileNames = {'castor:/castor/cern.ch/user/k/kumarv/pp/Input/starlight.u3s.mumu.hepmc-00.dat'}
      untracked vstring fileNames = {"file:u1s.pbpb.ee.gen-00.root"} 
       # untracked uint32 skipEvents =1000

	# untracked bool useExtendedAscii = true
    }

    
    # this config frament brings you 3 steps of the detector simulation:
    # -- vertex smearing (IR modeling)
    # -- G4-based hit level detector simulation
    # -- digitization (electronics readout modeling)
    # it returns 2 sequences : 
    # -- psim (vtx smearing + G4 sim)
    # -- pdigi (digitization in all subsystems, i.e. tracker=pix+sistrips,
    #           cal=ecal+ecal-0-suppression+hcal), muon=csc+dt+rpc)
    #
    include "Configuration/StandardSequences/data/Simulation.cff"
    
# please note the IMPORTANT: 
    # in order to operate Digis, one needs to include Mixing module 
    # (pileup modeling), at least in the 0-pileup mode
    #
    # There're 3 possible configurations of the Mixing module :
    # no-pileup, low luminosity pileup, and high luminosity pileup
    #
    # they come, respectively, through the 3 config fragments below
    #
    # *each* config returns label "mix"; thus you canNOT have them
    # all together in the same configuration, but only one !!!
    #
    
    
    include "Configuration/StandardSequences/data/MixingNoPileUp.cff" 
    #include "Configuration/StandardSequences/data/MixingLowLumiPileUp.cff" 
    #include "Configuration/StandardSequences/data/MixingHighLumiPileUp.cff" 
    
    include "Configuration/StandardSequences/data/L1Emulator.cff" 

    include "Configuration/StandardSequences/data/DigiToRaw.cff"

    include "Configuration/StandardSequences/data/VtxSmearedBetafuncEarlyCollision.cff"
    
    include "Configuration/StandardSequences/data/Reconstruction.cff"
    


#***************************************************************************************************************
 //defines ecalClusteringSequence


// minimal energy in basic clusters
replace islandBasicClusters.IslandBarrelSeedThr = 0.18

// energy minimal in island superCluster
  replace islandSuperClusters.seedTransverseEnergyThreshold =0.50	 

// phi search for energy in superCluster
replace islandSuperClusters.barrelPhiSearchRoad = 1.5
replace islandSuperClusters.endcapPhiSearchRoad = 0.8


replace electronPixelSeeds.superClusterBarrelProducer="correctedIslandSuperClusters"



############ PARAMETERS OPTIMIZED (PIXEL MATCH ELECTRON) ################
// for pixelMatchElectron reco, taller window in search pixel
   //replace electronPixelSeedConfiguration.ePhiMin1 = -0.175
   
   replace electronPixelSeedConfiguration.ePhiMin1 = -0.175
   replace electronPixelSeedConfiguration.ePhiMax1 = 0.1
   replace electronPixelSeedConfiguration.pPhiMin1 = -0.1
   replace electronPixelSeedConfiguration.pPhiMax1 = 0.175
   replace electronPixelSeedConfiguration.pPhiMin2 = -0.01
   replace electronPixelSeedConfiguration.pPhiMax2 = 0.01
   replace electronPixelSeedConfiguration.SCEtCut = 1.0

#***************************************************************************************************************

	#
    # You can set Mag Field to 0
    #
    #include "Configuration/StandardSequences/data/UseZeroBField.cff"
    
  //  path p0 = {pgen} # generator
    path p1 = {psim} # simulation
    path p2 = {pdigi} # digitization
    path p3 = {L1Emulator}
    path p4 = {DigiToRaw}
    path p5 = {reconstruction} # reconstruction
    
    # Event output
    include "Configuration/EventContent/data/EventContent.cff"
    module FEVT = PoolOutputModule 
    { 
     	using FEVTSIMEventContent
        untracked string fileName = "castor:/castor/cern.ch/user/k/kumarv/ElecReco/up1s_ee_reco.TestISC.root" #ISC for IslandSuperCluster
        # untracked string fileName = "elecreco.Test.root"

      }
    
    endpath outpath = {FEVT}
    
    schedule = {p1,p2,p3,p4,p5,outpath}
}		
