body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: white;
}

#helptable {
	border-spacing: 12px;
	border-collapse: separate;
}

#helptable th {
	text-align: right;
	vertical-align: top;
}

#logo {
	height: 50px;
	background: url(img/cms_small.gif) no-repeat left center;
	text-align: left;
	vertical-align: middle;
	font-size: 22px;
	font-weight: bold;
	padding-left: 50px;
}

#login {
	text-align: right;
	vertical-align: middle;
}

#login a, #login a:visited, div.menu-item a {
	color: navy;
	text-decoration: none;
	cursor: pointer;
}

div.outerbox {
	z-index: 100000;
}

div.menu-item {
	cursor: pointer;
}

#login a:hover {
	text-decoration: underline;
}

.flexigrid div.fbutton .refresh {
	background: url(img/refresh.png) no-repeat center left;
}

#flex1 div.stat {
	text-align: center;
	vertical-align: middle;
	font-size: 8px;
	padding: 0px;
	margin: 0px;
}

div.statUP {
	border-bottom: 1px solid #111111;
}

div.statTip {
	cursor: help;
}

div.statGOOD {
	background: #ADE38C;
}

div.statBAD {
	background: #F7515A;
}

div.statNOTSET {
}

div.statEXCL {
	background: #dddddd;
}

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
}
#tooltip h3, #tooltip div { margin: 0; }

#edit_overlay, #plot_overlay, #chat_overlay {
	background: url(img/load_edit.gif) no-repeat center center;
	position: absolute;
	left: 0;
	top: 0;
	background-color: white;
	z-index: 30;
	width: 100%;
	height: 100%;
}

#edit_overlay {
	background: url(img/load_edit.gif) no-repeat center center;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 30;
	width: 100%;
	height: 100%;
}

#edit table td {
	vertical-align: center;
}

#edit input, #edit textarea, #edit select {
	text-align: left;
	width: 100%;
	border: green 1px solid;
	margin: 2px;
	font-size: 13px;
}

#edit input.error, #edit select.error, #edit textarea.error {
	border: red 1px solid !important;
	margin: 2px;
}

#edit label {
	margin-left: 1em;
	font-weight: bold;
}

#edit td.label_col {
	text-align: right;
	width: 120px;
}

#edit input[disabled],
#edit input[readonly],
#edit select[disabled],
#edit select[readonly],
#edit checkbox[disabled],
#edit checkbox[readonly],
#edit textarea[disabled],
#edit textarea[readonly] {
	background-color: #dcdcdc;
	border: #3532ff 1px solid;
} 

#edit button {
	width: 150px;
	height: 25px;
	font-weight: bold;
	font-size: 13px;
	color: blue;
	vertical-align: middle;
}

html>body div.outerbox {
	  padding: 0 5px 5px 0;
		width: 120px;
}

html>body div.outerbox div.shadowbox1 {
	position: absolute;
	right: 0;
	bottom: 5px;
	width: 5px;
	height: 100%;
	background: url(myshadow.png) no-repeat right top;
}

html>body div.outerbox div.shadowbox2 {
	position: absolute;
	bottom: 0;
	right: 5px;
	height: 5px;
	width: 100%;
	background: url(myshadow.png) left bottom;
}

html>body div.outerbox div.shadowbox3 {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 5px;
	width: 5px;
	background: url(myshadow.png) no-repeat right bottom;
}

html>body .innerbox {
	margin: 0;
	display: inherit;
	background-color: white;
}

.activetarget{
background-color: white;
}

* html div.menu-item {
	display: inline; /* fixes problem in ie6 */
}

li.menumain {
	float: left;
	padding: 0 10px;
}

div.menu-item {
	padding: 4px 10px 4px 4px;
	list-style: none;
}

img.menu-item-arrow{
	position: absolute;
	right: 4px;
	top: 8px;
}

li.menu-separator{
	border-bottom: 1px solid #000;
	font-size: 0; /* for ie */
	height: 0;
	line-height: 0; /* for ie */
	margin: 2px 0;
}

ul.menu, #root-menu-div ul {
	background-color: #fff;
	list-style: none;
	margin: 0;
	padding: 0;
}

li.menu-separator.active{
	background-color: transparent;
}

li.active {
	background-color: #DDD;
}

.ui-tabs-hide { display: none; }

#batch_updater {
}

#batch_updater_progressbar {
}

#edit_table {
	width: 100%;
}

.tree_down {
	background: url(tree_down.gif) no-repeat center center;
}

.tree_middle {
	background: url(tree_middle.gif) no-repeat center center;
}

.tree_end {
	background: url(tree_end.gif) no-repeat center center;
}

tr.prevTag {
	background: #FFF39C;
	/* color: #0B0BFF; */
}

#chat_messages, #chat_users {
	position: relative;
	overflow-x: hidden;
	/* overflow-y: hidden; */
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #bbbbbb;
	border-right-color: #bbbbbb;
	border-bottom-color: #bbbbbb;
	border-left-color: #bbbbbb;
	height: 300px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	background-color: #ffffff;
	background-image: none;
	background-repeat: repeat;
	background-attachment: scroll;
	background-x-position: 0%;
	background-y-position: 0%;
	margin-bottom: 5px;
  overflow-y: auto;
}

#chat_messages {
  /* width: 100%; */
}

#chat_users {
	width: 150px;
}


.chat_line {
	margin-top: 0pt;
	margin-right: 0pt;
	margin-bottom: 5pt;
	margin-left: 0pt;
	text-align: left;
}

.chat_line_header {
	text-align: left;
	font-size: 10px;
	color: #444444;
}

.chat_line_text {
	font-weight: bold;
	text-align: left;
	font-size: 12px;
}

.rr_line {
	text-align: left;
	color: navy;
}

.rr_priority0 {
	font-size: 10px;
}
.rr_priority1 {
	font-weight: bold;
	font-size: 12px;
}

.rr_priority2 {
	font-weight: bold;
	color: #ff0000;
}


.chat_priority0 {
	color: #777777;
}

.chat_priority1 {
	color: #000000;
}

.chat_priority2 {
	color: #ff0000;
}

.ui-layout-pane { /* all 'panes' */ 
	border: none; 
	padding: 10px; 
	overflow: none;
} 

.ui-layout-resizer { /* all 'resizer-bars' */ 
	background: #DDD; 
} 

.ui-layout-toggler { /* all 'toggler-buttons' */ 
	background-color: #679CFB; 
} 

.ui-layout-toggler-south-closed {
	background: url(messageboard.gif) no-repeat center center;
	background-color: #679CFB; 
}
