# Settings for script creating reduced tree (gjettree)
######################################################

#tree.Version:	 CSA07
tree.Version:	 CSA07new
tree.Algorithm:  ite
#tree.Algorithm:  pfite
tree.ReadAll:	 true

# Jet cone size
tree.Rcone:	 0.5
# Back-to-back search region for the jet, DeltaPhi(jet,photon)>BackToBack=2pi/3
tree.BackToBack: 2.094395

# Maximum photon |eta|
tree.PhotEtaCut:   1.3
# Maximum jet eta
tree.JetEtaCut:    1.3
# Minimum pT for second jet
tree.Jet2_minPt:   10.
# Maximum fraction of photon energy for second jet
tree.Jet2_maxFrac: 0.10
# Minimum DeltaPhi(leadjet, leadphoton), 0<DeltaPhi<pi (default >pi-0.2)
tree.DeltaPhi:     2.94159
# Maximum Abs(DeltaEta(leadjet, leadphoton))
#tree.DeltaEta:     1.0
tree.DeltaEta:     999.

# Photon ID cuts (loose, medium, tight)
#######################################

# LOOSE photonID

# HCAL isolation: HCAL cone energy over photon energy
tree.loose_HCALiso:	  0.1111
# ECAL isolation: ECAL cone energy minus photon energy over photon energy
tree.loose_ECALiso:	  0.10
# Track pT and number isolation (1=no tracks, 3=max two, 5=max four tracks)
tree.loose_TrackIso:	  0.20
tree.loose_TrackNumber:	  5
# Cluster shape cuts: minor (EM-likeness) and major (conversions) axes
tree.loose_ClusterMinor:  0.50
tree.loose_ClusterMajor:  0.60

# MEDIUM photonID (default)

tree.medium_HCALiso:	  0.05263
tree.medium_ECALiso:	  0.05
tree.medium_TrackIso:	  0.10
tree.medium_TrackNumber:  3
tree.medium_ClusterMinor: 0.25
tree.medium_ClusterMajor: 0.30

# TIGHT photonID (default)

tree.tight_HCALiso:	   0.020408
tree.tight_ECALiso:	   0.05
tree.tight_TrackIso:	   0.05
tree.tight_TrackNumber:	   1
tree.tight_ClusterMinor:   0.25
tree.tight_ClusterMajor:   0.30


# Settings for MC factorization scripts (mctruth)
###################################################
factor.Algorithm:   ite
#factor.Algorithm:   pfite

# Settings for finalization scripts (gjet_response)
###################################################

final.AlgoName:	    IterativeCone0.5
#final.DrawStats:    true
final.DrawStats:    false

final.PhotEtaCut:   1.3
final.JetEtaCut:    1.3
final.Jet2_minPt:   8.
final.Jet2_maxFrac: 0.10
final.DeltaPhi:     2.94159
final.DeltaEta:     1.0
#final.DeltaEta:     999.

final.LowPtReco:	10.
final.FitPtMin:		33.

#final.MCTruthFunc:	1-2.316*pow(x,0.6005-1)
#final.MCTruth_CSA07:	1-1.881*pow(x,0.6198-1)
final.MCTruthFunc:	1-2.136*pow(x,0.5801-1)
final.Xmin:		25.
final.Xmax:		700.
#final.Rebin:		3
final.Rebin:		1


###########################
# Tight cut on second jet
###########################
sec05.AlgoName:    IterativeCone0.5
sec05.DrawStats:   true

sec05.PhotEtaCut:   1.3
sec05.JetEtaCut:    1.3
#sec05.Jet2_minPt:   8.
sec05.Jet2_minPt:   2.5
sec05.Jet2_maxFrac: 0.05
sec05.DeltaPhi:     2.94159
sec05.DeltaEta:     1.0
#sec05.DeltaEta:    999.

sec05.LowPtReco:	10.
sec05.FitPtMin:		33.

sec05.MCTruth_CSA07:	1-1.881*pow(x,-0.3802)
sec05.MCTruthFunc:	1-2.136*pow(x,0.5801-1)
sec05.Xmin:		25.
sec05.Xmax:		700.
#sec05.Rebin:		3
sec05.Rebin:		1

###########################
# Medium cut on second jet
###########################
sec10.AlgoName:    IterativeCone0.5
sec10.DrawStats:   true

sec10.PhotEtaCut:   1.3
sec10.JetEtaCut:    1.3
#sec10.Jet2_minPt:   8.
sec10.Jet2_minPt:   2.5
sec10.Jet2_maxFrac: 0.10
sec10.DeltaPhi:     2.94159
sec10.DeltaEta:     1.0
#sec10.DeltaEta:    999.

sec10.LowPtReco:	10.
sec10.FitPtMin:		33.

sec10.MCTruth_CSA07:	1-1.881*pow(x,-0.3802)
sec10.MCTruthFunc:	1-2.136*pow(x,0.5801-1)
sec10.Xmin:		25.
sec10.Xmax:		700.
#sec10.Rebin:		3
sec10.Rebin:		1


##########################
# Loose cut on second jet
##########################
sec20.AlgoName:     IterativeCone0.5
sec20.DrawStats:    true

sec20.PhotEtaCut:   1.3
sec20.JetEtaCut:    1.3
#sec20.Jet2_minPt:   8.
sec20.Jet2_minPt:   2.5
sec20.Jet2_maxFrac: 0.20
sec20.DeltaPhi:     2.94159
sec20.DeltaEta:     1.0
#sec20.DeltaEta:    999.

sec20.LowPtReco:	10.
sec20.FitPtMin:		33.

sec20.MCTruth_CSA07:	1-1.881*pow(x,-0.3802)
sec20.MCTruthFunc:	1-2.136*pow(x,0.5801-1)
sec20.Xmin:		25.
sec20.Xmax:		700.
#sec20.Rebin:		3
sec20.Rebin:		1

# Settings for MC factorization script (mcfactors)
###################################################

factor.AlgoName:    ICone0.5
