# Settings for script creating reduced tree (gjettree)
######################################################

#tree.Version:	 CSA07
#tree.Version:	 CSA07new
tree.Version:	 Summer08
tree.Algorithm:  ite
#tree.Algorithm:  pfite
tree.ReadAll:	 false
tree.LogFile:    gjettree.log

# Jet cone size
tree.Rcone:	 0.5
# Back-to-back search region for the jet, DeltaPhi(jet,photon)>BackToBack=2pi/3
tree.BackToBack: 2.094395

# With the exception of PhotEtaCut, PhotPtCut and PhotJetMatch,
# all of the cuts below only affect the content of the
# histograms produced in gjettree.C, not the reduced trees
# NB: loose ID may affect the selection of the leading photon?
# ------------------------------------------------------------
# Maximum photon |eta|
tree.PhotEtaCut:   1.3
# Minimum photon pT
tree.PhotPtCut:    10.
# DeltaR limit for excluding reco jet as photon
tree.PhotJetMatch: 0.2
# Maximum jet |eta|
tree.JetEtaCut:    1.3
# Minimum pT for leading jet (eff. histos)
tree.LowPtReco:	   5.
# Minimum pT for second jet
tree.Jet2_minPt:   5.
# Maximum fraction of photon energy for second jet
tree.Jet2_maxFrac: 0.10
# Minimum DeltaPhi(leadjet, leadphoton), 0<DeltaPhi<pi (default >pi-0.2)
tree.DeltaPhi:     2.94159
# Maximum Abs(DeltaEta(leadjet, leadphoton))
tree.DeltaEta:     1.0
#tree.DeltaEta:     999.

# Photon ID cuts (loose, medium, tight)
#######################################

# LOOSE photonID

# Track pT and number isolation (1=no tracks, 3=max two, 5=max four tracks)
#tree.loose_TrackNumber:	  5
#tree.loose_TrackIsoRel:	  0.10
#tree.loose_TrackIsoAbs:	  7.
#tree.loose_TrackIsoLog:	  2.
#tree.loose_TrackIso5:     10000.
#tree.loose_TrackIso7:     10000.
# ECAL isolation: ECAL cone energy minus photon energy over photon energy (cone 0.4)
#tree.loose_ECALisoRel:	  0.05
#tree.loose_ECALisoAbs:	  5.
#tree.loose_ECALisoLog:	  2.
# HCAL isolation: HCAL cone energy over photon energy (cone 0.4 - cone 0.15)
#tree.loose_HCALisoRel:	  0.10
#tree.loose_HCALisoAbs:	  6.
#tree.loose_HCALisoLog:	  2.
#tree.loose_HOverE:        0.50
# Cluster shape cuts: minor (EM-likeness) and major (conversions) axes
#tree.loose_ClusterMinor:  0.40
#tree.loose_ClusterMajor:  1.50
# Other cuts:
#tree.loose_SEtaEta:       10000.

# MEDIUM photonID (default)

#tree.medium_TrackNumber:  3
#tree.medium_TrackIsoRel:  0.01
#tree.medium_TrackIsoAbs:  0.
#tree.medium_TrackIsoLog:  0.
#tree.medium_TrackIso5:	  0.01
#tree.medium_TrackIso7:	  0.01
#tree.medium_ECALisoRel:	  0.02
#tree.medium_ECALisoAbs:	  3.5
#tree.medium_ECALisoLog:	  1.
#tree.medium_HCALisoRel:	  0.04
#tree.medium_HCALisoAbs:	  5.
#tree.medium_HCALisoLog:	  1.
#tree.medium_HOverE:       0.20
#tree.medium_ClusterMinor: 0.30
#tree.medium_ClusterMajor: 0.75
#tree.medium_SEtaEta:      10000.

# TIGHT photonID (default)

#tree.tight_TrackNumber:	   2
#tree.tight_TrackIsoRel:	   0.002
#tree.tight_TrackIsoAbs:	   0.
#tree.tight_TrackIsoLog:	   0.
#tree.tight_TrackIso5:	   0.002
#tree.tight_TrackIso7:	   0.002
#tree.tight_ECALisoRel:	   0.015
#tree.tight_ECALisoAbs:	   2.
#tree.tight_ECALisoLog:	   1.
#tree.tight_HCALisoRel:	   0.02
#tree.tight_HCALisoAbs:	   4.
#tree.tight_HCALisoLog:	   1.
#tree.tight_HOverE:         0.10
#tree.tight_ClusterMinor:   0.25
#tree.tight_ClusterMajor:   0.35
#tree.tight_SEtaEta:       10000.

# Summer08 cuts
tree.loose_HCALisoRel:		10000.
tree.loose_HCALisoAbs:		0.
tree.loose_HCALisoLog:		0.
tree.loose_HOverE:              10000.
tree.loose_EMFRel:              0.10
tree.loose_EMFAbs:              4.
tree.loose_ECALisoRel:		0.10
tree.loose_ECALisoAbs:		3.
tree.loose_ECALisoLog:		0.
tree.loose_TrackNumber:		5
tree.loose_TrackIsoRel:		0.20
tree.loose_TrackIsoAbs:		0.
tree.loose_TrackIsoLog:		0.
tree.loose_ClusterMinor:	0.50
tree.loose_ClusterMajor:	0.60
# Summer08 cuts
tree.medium_HCALisoRel:		10000.
tree.medium_HCALisoAbs:		0.
tree.medium_HCALisoLog:		0.
tree.medium_HOverE:             10000.
tree.medium_EMFRel:             0.05
tree.medium_EMFAbs:             2.4
tree.medium_ECALisoRel:		0.05
tree.medium_ECALisoAbs:		1.7
tree.medium_ECALisoLog:		0.
tree.medium_TrackNumber:	3
tree.medium_TrackIsoRel:	0.10
tree.medium_TrackIsoAbs:	0.
tree.medium_TrackIsoLog:	0.
tree.medium_ClusterMinor:	0.30
tree.medium_ClusterMajor:	0.35
# Summer08 cuts
tree.tight_HCALisoRel:		10000.
tree.tight_HCALisoAbs:		0.
tree.tight_HCALisoLog:		0.
tree.tight_HOverE:              10000.
tree.tight_EMFRel:              0.03
tree.tight_EMFAbs:              2.4
tree.tight_ECALisoRel:		0.03
tree.tight_ECALisoAbs:		1.7
tree.tight_ECALisoLog:		0.
tree.tight_TrackNumber:		1
tree.tight_TrackIsoRel:		0.05
tree.tight_TrackIsoAbs:		0.
tree.tight_TrackIsoLog:		0.
tree.tight_ClusterMinor:	0.30
tree.tight_ClusterMajor:	0.35

# Settings for MC factorization scripts (mctruth)
###################################################
factor.Algorithm:   ite
#factor.Algorithm:   pfite

# Settings for finalization scripts (gjet_response)
###################################################

final.AlgoName:	    IterativeCone0.5
final.DrawStats:    false

final.PhotEtaCut:   1.3
final.PhotPtCut:    10.
final.JetEtaCut:    1.3
#final.Jet2_minPt:   5.
final.Jet2_minPt:   3.
final.Jet2_maxFrac: 0.10
final.DeltaPhi:     2.94159
final.DeltaEta:     1.0

#final.LowPtReco:	5.
final.LowPtReco:	3.
# Summer08
#final.FitPtMin:	25.
# Summer09 OctX
final.FitPtMin:		20.

final.MCTruthFunc:	1-2.228*pow(x,0.5733-1)
final.MCTruthRMSFunc:	sqrt(pow(5.588/x,2) + 1.524*1.524/x + 0.04906*0.04906)
final.MCMeanFunc:       0.981-0.307*pow(0.01*x,0.529-1)
final.MCRMSFunc:        sqrt(pow(12.2/x,2) + 1.81*1.81/x + 0.0743*0.0743)
#final.Xmin:		25.
#final.Xmin:		20.
# Summer08
#final.Xmin:		10.
# Summer09 OctX
final.Xmin:		20.
#final.Xmax:		700.
# Summer08
final.Xmax:		799.
# Summer09 OctX
#final.Xmax:		300.
#final.Rebin:		3
#final.Rebin:		1

# new cuts
#final.loose_TrackNumber:	5
#final.loose_TrackIsoRel:	0.10
#final.loose_TrackIsoAbs:	7.
#final.loose_TrackIsoLog:	2.
#final.loose_TrackIso5:          10000.
#final.loose_TrackIso7:          10000.
#final.loose_ECALisoRel:		0.05
#final.loose_ECALisoAbs:		5.
#final.loose_ECALisoLog:		2.
#final.loose_HCALisoRel:		0.10
#final.loose_HCALisoAbs:		6.
#final.loose_HCALisoLog:		2.
#final.loose_HOverE:             0.50
#final.loose_ClusterMinor:	0.40
#final.loose_ClusterMajor:	1.5
#final.loose_SEtaEta:            10000.
# new cuts
#final.medium_TrackNumber:	3
#final.medium_TrackIsoRel:	0.01
#final.medium_TrackIsoAbs:	0.
#final.medium_TrackIsoLog:	0.
#final.medium_TrackIso5:	        0.01
##final.medium_TrackIso7:	        10000.
#final.medium_TrackIso7:	        0.01
#final.medium_ECALisoRel:	0.02
#final.medium_ECALisoAbs:	3.5
#final.medium_ECALisoLog:	1.
#final.medium_HCALisoRel:	0.04
#final.medium_HCALisoAbs:	5.
#final.medium_HCALisoLog:	1.
#final.medium_HOverE:            0.20
#final.medium_ClusterMinor:	0.30
#final.medium_ClusterMajor:	0.75
#final.medium_SEtaEta:            10000.
# new cuts
#final.tight_TrackNumber:	2
#final.tight_TrackIsoRel:	0.002
#final.tight_TrackIsoAbs:	0.
#final.tight_TrackIsoLog:	0.
#final.tight_TrackIso5:	        0.002
#final.tight_TrackIso7:	        0.002
#final.tight_ECALisoRel:		0.015
#final.tight_ECALisoAbs:		2.
#final.tight_ECALisoLog:		1.
#final.tight_HCALisoRel:		0.02
#final.tight_HCALisoAbs:		4.
#final.tight_HCALisoLog:		1.
#final.tight_HOverE:             0.10
#final.tight_JETisoRel:		1.0
#final.tight_JETisoAbs:		10000.
#final.tight_JETisoLog:		0.
#final.tight_ClusterMinor:	0.25
#final.tight_ClusterMajor:	0.35
#final.tight_SEtaEta:            10000.

# Summer08
final.loose_HCALisoRel:		10000.
final.loose_HCALisoAbs:		0.
final.loose_HCALisoLog:		0.
final.loose_HOverE:             10000.
final.loose_EMFRel:             0.10
final.loose_EMFAbs:             4.
final.loose_ECALisoRel:		0.10
final.loose_ECALisoAbs:		3.
final.loose_ECALisoLog:		0.
final.loose_JETisoRel:		1.0
final.loose_JETisoAbs:		10000.
final.loose_JETisoLog:		0.
final.loose_TrackNumber:	5
final.loose_TrackIsoRel:	0.20
final.loose_TrackIsoAbs:	0.
final.loose_TrackIsoLog:	0.
final.loose_ClusterMinor:	0.50
final.loose_ClusterMajor:	0.60
# Sumer08
final.medium_HCALisoRel:	10000.
final.medium_HCALisoAbs:	0.
final.medium_HCALisoLog:	0.
final.medium_HOverE:            10000.
final.medium_EMFRel:            0.05
final.medium_EMFAbs:            2.4
final.medium_ECALisoRel:	0.05
final.medium_ECALisoAbs:	1.7
final.medium_ECALisoLog:	0.
final.medium_JETisoRel:		1.0
final.medium_JETisoAbs:		10000.
final.medium_JETisoLog:		0.
final.medium_TrackNumber:	3
final.medium_TrackIsoRel:	0.10
final.medium_TrackIsoAbs:	0.
final.medium_TrackIsoLog:	0.
final.medium_ClusterMinor:	0.30
final.medium_ClusterMajor:	0.35
# Summer08
final.tight_HCALisoRel:		10000.
final.tight_HCALisoAbs:		0.
final.tight_HCALisoLog:		0.
final.tight_HOverE:             10000.
final.tight_EMFRel:             0.03
final.tight_EMFAbs:             2.4
final.tight_HCALisoLog:		0.
final.tight_ECALisoRel:		0.03
final.tight_ECALisoAbs:		1.7
final.tight_ECALisoLog:		0.
final.tight_TrackNumber:	1
final.tight_TrackIsoRel:	0.05
final.tight_TrackIsoAbs:	0.
final.tight_TrackIsoLog:	0.
final.tight_ClusterMinor:	0.30
final.tight_ClusterMajor:	0.35

###########################
# Tight cut on second jet
###########################
sec05.AlgoName:    IterativeCone0.5
sec05.DrawStats:   false

sec05.PhotEtaCut:   1.3
sec05.JetEtaCut:    1.3
sec05.Jet2_minPt:   2.5
sec05.Jet2_maxFrac: 0.05
sec05.DeltaPhi:     2.94159
sec05.DeltaEta:     1.0

sec05.LowPtReco:	10.
sec05.FitPtMin:		25.

sec05.MCTruthFunc:	1-2.228*pow(x,0.5733-1)
sec05.Xmin:		25.
sec05.Xmax:		799.
#sec05.Rebin:		3
#sec05.Rebin:		1

###########################
# Medium cut on second jet
###########################
sec10.AlgoName:    IterativeCone0.5
sec10.DrawStats:   false

sec10.PhotEtaCut:   1.3
sec10.JetEtaCut:    1.3
sec10.Jet2_minPt:   2.5
sec10.Jet2_maxFrac: 0.10
sec10.DeltaPhi:     2.94159
sec10.DeltaEta:     1.0

sec10.LowPtReco:	10.
sec10.FitPtMin:		25.

sec10.MCTruthFunc:	1-2.228*pow(x,0.5733-1)
sec10.Xmin:		25.
sec10.Xmax:		799.
#sec10.Rebin:		3
#sec10.Rebin:		1


##########################
# Loose cut on second jet
##########################
sec20.AlgoName:     IterativeCone0.5
sec20.DrawStats:    false

sec20.PhotEtaCut:   1.3
sec20.JetEtaCut:    1.3
sec20.Jet2_minPt:   2.5
sec20.Jet2_maxFrac: 0.20
sec20.DeltaPhi:     2.94159
sec20.DeltaEta:     1.0

sec20.LowPtReco:	10.
sec20.FitPtMin:		25.

#sec20.MCTruth_CSA07:	1-1.881*pow(x,-0.3802)
sec20.MCTruthFunc:	1-2.228*pow(x,0.5733-1)
sec20.Xmin:		25.
sec20.Xmax:		799.
#sec20.Rebin:		3
#sec20.Rebin:		1

# Settings for MC factorization script (mcfactors)
###################################################

factor.AlgoName:    ICone0.5
